@import '_colors';

@mixin btn {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: $cp;
    background-color: #ffff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

@mixin fun-new {
    border: 4px solid $cp;
    display: flex;
    cursor: pointer;
}



@mixin fun-new-div {
    width: 30px;
    height: 30px;
    background-color: $ct;
    border: 4px solid #ffff;
    border-radius:299px;
    margin: 25px 10px 0 10px;
}

@mixin fun-new-h2 {
    font-size: 70px;
    color: $cp;
    margin-top: -5px;
}

@mixin abs-shaps($a,$b,$c,$d) {
    width:$a;
    height:$b;
    top: $c;
    left: $d;
}