@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Patrick+Hand&display=swap");
@font-face {
  font-family: 'coffee';
  src: url(../fonts/arlrdbd.ttf); }
.rel {
  position: relative; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #341900;
  font-family: 'Patrick Hand'; }

body {
  background-color: #DDB892; }

nav {
  width: 120px;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  z-index: 4;
  background-color: #341900;
  position: fixed;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 20px 40px 0px #000; }
  nav.active {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: start;
    transition: 0.5s ease-in-out; }
    nav.active #side-nav {
      height: 100vh; }
      nav.active #side-nav .icon span {
        display: inline-block;
        color: #fff;
        font-size: xx-large;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        margin-left: 40px;
        opacity: 1; }
      nav.active #side-nav .icon .line1 {
        transform: rotate(50deg) translate(6px);
        transition: 0.5s ease-in-out;
        margin-top: 10px;
        width: 30px; }
      nav.active #side-nav .icon .line2 {
        transform: rotate(-50deg) translate(6px);
        transition: 0.5s ease-in-out;
        width: 30px; }
      nav.active #side-nav .icon .line3 {
        opacity: 0; }
    nav.active #content-nav {
      height: 100vh;
      justify-items: center;
      align-items: center; }
      nav.active #content-nav.active {
        display: -ms-grid;
        display: grid;
        opacity: 1;
        animation: ss 1.2s ease-in-out;
        width: 100%; }
@keyframes ss {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      nav.active #content-nav img {
        border-radius: 130px; }
      nav.active #content-nav button {
        width: 150px;
        height: 40px;
        border: none;
        outline: none;
        color: #341900;
        background-color: #ffff;
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
        align-self: start; }
        nav.active #content-nav button:hover {
          background-color: #DDB892; }
  nav #side-nav {
    display: -ms-grid;
    display: grid; }
    nav #side-nav .icon .svg {
      width: 60px;
      height: 60px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      margin-left: 30px; }
    nav #side-nav .icon .svg1 {
      width: 100px;
      height: 100px;
      margin-left: 10px; }
    nav #side-nav .icon span {
      opacity: 0;
      transition: 0.5s ease-in-out; }
    nav #side-nav .icon .line {
      width: 35px;
      height: 4px;
      background-color: #341900;
      margin: 6px 0 0 3px;
      border-radius: 20px;
      transition: 0.5s ease-in-out; }
    nav #side-nav .icon .line3 {
      opacity: 1;
      transition: 0.1s ease-in-out; }
    nav #side-nav .icon6 {
      background-color: #fff;
      width: 120px;
      height: 71px;
      cursor: pointer;
      align-self: end;
      padding: 20px 0 0 40px; }
  nav #content-nav {
    display: none; }

#landing {
  font-family: 'coffee' ,'Carter One', cursive;
  width: 100%;
  height: 100%;
  padding: 70px 0 70px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center; }
  #landing #head-text {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    margin-left: 170px; }
    #landing #head-text .text {
      margin-top: 90px; }
      #landing #head-text .text :nth-child(2) {
        margin-left: 40px; }
      #landing #head-text .text .text-change {
        margin-left: 150px;
        position: relative; }
      #landing #head-text .text h1 {
        font-size: 140px;
        position: relative; }
      #landing #head-text .text .coffee-text::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150px;
        top: -120px;
        left: 60px;
        background: url(/svg/header-nav/header/coffee-text.svg) no-repeat;
        background-size: 100% 100%; }
      #landing #head-text .text .coffee-text::after {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        top: 0px;
        left: 420px;
        background: url(/svg/header-nav/header/long-cup-coffee.svg) no-repeat;
        background-size: 100% 100%; }
      #landing #head-text .text .plant::before {
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        top: -250px;
        left: 300px;
        background: url(/svg/header-nav/header/coffee-plant.svg) no-repeat;
        background-size: 100% 100%; }
      #landing #head-text .text .text-change::after {
        content: "Great!";
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        animation: change-word 15s  ease-in-out infinite; }
@keyframes change-word {
  0% {
    content: "Great!";
    width: 0px; }
  25% {
    content: "Great!";
    width: 310px; }
  45% {
    content: "Great!";
    width: 0px; }
  50% {
    content: "Gloreus!";
    width: 0px; }
  75% {
    content: "Gloreus!";
    width: 420px; }
  100% {
    content: "Gloreus!";
    width: 0px; } }
    #landing #head-text #new-fun {
      display: -ms-grid;
      display: grid;
      grid-template-columns: 40% 20% 40%;
      grid-template-rows: 80px;
      justify-items: center;
      margin-top: 220px;
      min-width: 600px; }
      #landing #head-text #new-fun .new {
        -ms-grid-column: 1/2;
        grid-column: 1/2;
        border: 4px solid #341900;
        display: flex;
        cursor: pointer; }
        #landing #head-text #new-fun .new div {
          width: 30px;
          height: 30px;
          background-color: #2D635E;
          border: 4px solid #ffff;
          border-radius: 299px;
          margin: 25px 10px 0 10px; }
        #landing #head-text #new-fun .new h2 {
          font-size: 70px;
          color: #341900;
          margin-top: -5px; }
      #landing #head-text #new-fun .plant2 {
        width: 100px;
        height: 100px;
        -ms-grid-column: 2/3;
        grid-column: 2/3;
        justify-self: center; }
      #landing #head-text #new-fun .fun {
        -ms-grid-column: 3/4;
        grid-column: 3/4;
        border: 4px solid #341900;
        display: flex;
        cursor: pointer; }
        #landing #head-text #new-fun .fun div {
          width: 30px;
          height: 30px;
          background-color: #2D635E;
          border: 4px solid #ffff;
          border-radius: 299px;
          margin: 25px 10px 0 10px; }
        #landing #head-text #new-fun .fun h2 {
          font-size: 70px;
          color: #341900;
          margin-top: -5px; }
  #landing #head-img {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    position: relative; }
    #landing #head-img .cont {
      display: -ms-grid;
      display: grid;
      grid-template-columns: 37% 37%;
      align-self: end; }
      #landing #head-img .cont :nth-child(2) {
        border-radius: 0px 100px 0px 100px;
        margin-left: 30px; }
      #landing #head-img .cont :nth-child(1) {
        justify-self: end; }
      #landing #head-img .cont img {
        width: 260px;
        height: 400px;
        border-radius: 299px;
        border: 5px solid;
        border-color: #fff; }
    #landing #head-img .img-def {
      width: 450px;
      height: 260px;
      border-radius: 299px;
      border: 5px solid;
      border-color: #fff;
      justify-self: center;
      margin: 20px 0 0 50px;
      position: relative; }
    #landing #head-img .plant2::before {
      content: "";
      position: absolute;
      transform: translate(-150%, 0%);
      width: 60px;
      height: 60px;
      top: 350px;
      left: 50%;
      background: url(/svg/header-nav/header/coffee-plant.svg) no-repeat;
      background-size: 100% 100%; }

@media (max-width: 1500px) {
  #landing #head-img .plant2::before {
    transform: translate(-120%, 0%);
    width: 60px;
    height: 60px;
    top: 270px;
    left: 50%; }
  #landing #head-img .cont img {
    width: 200px;
    height: 320px; }
  #landing #head-img .img-def {
    width: 320px;
    height: 200px; }
  #landing #head-text {
    margin-left: 130px; }
    #landing #head-text .text h1 {
      font-size: 100px; }
    #landing #head-text .text .coffee-text::before {
      width: 150px;
      height: 150px;
      top: -120px;
      left: 30px; }
    #landing #head-text .text .coffee-text::after {
      width: 120px;
      height: 120px;
      top: 0px;
      left: 370px; }
    #landing #head-text .text .plant::before {
      width: 60px;
      height: 60px;
      top: -250px;
      left: 250px; }
    #landing #head-text #new-fun {
      display: -ms-grid;
      display: grid;
      grid-template-columns: 40% 20% 40%;
      grid-template-rows: 80px;
      justify-items: center;
      min-width: 400px;
      margin-top: 150px; }
      #landing #head-text #new-fun .new {
        -ms-grid-column: 1/2;
        grid-column: 1/2;
        border: 4px solid #341900;
        display: flex;
        cursor: pointer;
        height: 60px; }
        #landing #head-text #new-fun .new div {
          width: 20px;
          height: 20px;
          border: 3px solid #fff;
          margin: 20px 10px 0 10px; }
        #landing #head-text #new-fun .new h2 {
          font-size: 50px; }
      #landing #head-text #new-fun .plant2 {
        width: 60px;
        height: 60px;
        -ms-grid-column: 2/3;
        grid-column: 2/3;
        justify-self: center; }
      #landing #head-text #new-fun .fun {
        -ms-grid-column: 3/4;
        grid-column: 3/4;
        border: 4px solid #341900;
        display: flex;
        cursor: pointer;
        height: 60px; }
        #landing #head-text #new-fun .fun div {
          width: 20px;
          height: 20px;
          border: 3px solid #fff;
          margin: 20px 10px 0 10px; }
        #landing #head-text #new-fun .fun h2 {
          font-size: 50px; }

  @keyframes change-word {
    0% {
      content: "Great!";
      width: 0px; }
    25% {
      content: "Great!";
      width: 240px; }
    45% {
      content: "Great!";
      width: 0px; }
    50% {
      content: "Gloreus!";
      width: 0px; }
    75% {
      content: "Gloreus!";
      width: 320px; }
    100% {
      content: "Gloreus!";
      width: 0px; } } }
@media (max-width: 1200px) {
  nav.active {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: start; }
    nav.active #content-nav :first-child {
      width: 450px;
      border-radius: 130px;
      height: 260px; }
    nav.active #content-nav div .menu4 {
      width: 200px;
      height: 300px; }

  #landing #head-img .plant2::before {
    transform: translate(-110%, 0%);
    width: 60px;
    height: 60px;
    top: 210px;
    left: 50%; }
  #landing #head-img .cont img {
    width: 150px;
    height: 250px; }
  #landing #head-img .cont :nth-child(2) {
    border-radius: 0px 50px 0px 50px; }
  #landing #head-img .img-def {
    width: 250px;
    height: 150px; }
  #landing #head-text {
    margin-left: 110px; }
    #landing #head-text .text h1 {
      font-size: 70px; }
    #landing #head-text .text .coffee-text::before {
      width: 100px;
      height: 100px;
      top: -90px;
      left: 20px; }
    #landing #head-text .text .coffee-text::after {
      width: 90px;
      height: 90px;
      top: 0px;
      left: 250px; }
    #landing #head-text .text .plant::before {
      width: 40px;
      height: 40px;
      top: -180px;
      left: 150px; }
    #landing #head-text #new-fun {
      min-width: 300px;
      margin-top: 120px; }
      #landing #head-text #new-fun .new {
        height: 46px; }
        #landing #head-text #new-fun .new div {
          width: 15px;
          height: 15px;
          border: 2px solid #fff;
          margin: 12px 7px 0 7px; }
        #landing #head-text #new-fun .new h2 {
          font-size: 45px;
          margin-top: -10px; }
      #landing #head-text #new-fun .plant2 {
        width: 40px;
        height: 40px; }
      #landing #head-text #new-fun .fun {
        height: 46px; }
        #landing #head-text #new-fun .fun div {
          width: 15px;
          height: 15px;
          border: 2px solid #fff;
          margin: 12px 7px 0 7px; }
        #landing #head-text #new-fun .fun h2 {
          font-size: 45px;
          margin-top: -10px; }

  nav {
    width: 100px; }
    nav #side-nav {
      display: -ms-grid;
      display: grid; }
      nav #side-nav .icon .svg {
        width: 50px;
        height: 50px;
        margin-left: 25px; }
      nav #side-nav .icon .svg1 {
        width: 80px;
        height: 80px;
        margin-left: 10px; }
      nav #side-nav .icon6 {
        width: 100px;
        padding: 20px 0 0 30px; }

  @keyframes change-word {
    0% {
      content: "Great!";
      width: 0px; }
    25% {
      content: "Great!";
      width: 160px; }
    45% {
      content: "Great!";
      width: 0px; }
    50% {
      content: "Gloreus!";
      width: 0px; }
    75% {
      content: "Gloreus!";
      width: 230px; }
    100% {
      content: "Gloreus!";
      width: 0px; } } }
@media (max-width: 990px) {
  nav.active {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 100%;
    justify-items: start; }
    nav.active #side-nav {
      width: 100%; }
      nav.active #side-nav .icon1, nav.active #side-nav .icon2, nav.active #side-nav .icon3, nav.active #side-nav .icon4, nav.active #side-nav .icon5 {
        justify-self: center;
        display: block; }
      nav.active #side-nav .icon1 {
        justify-self: start; }
        nav.active #side-nav .icon1 .svg1 {
          display: block; }
        nav.active #side-nav .icon1 span {
          display: none; }
      nav.active #side-nav .icon .svg {
        margin-left: 0px;
        margin-top: -15px; }
      nav.active #side-nav .icon span {
        margin-left: 20px; }
    nav.active #content-nav.active {
      display: none; }

  @keyframes change-word {
    0% {
      content: "Great!";
      width: 0px; }
    25% {
      content: "Great!";
      width: 160px; }
    45% {
      content: "Great!";
      width: 0px; }
    50% {
      content: "Gloreus!";
      width: 0px; }
    75% {
      content: "Gloreus!";
      width: 220px; }
    100% {
      content: "Gloreus!";
      width: 0px; } } }
@media (max-width: 885px) {
  nav {
    background: none;
    box-shadow: none;
    width: 120px; }
    nav.active {
      background-color: #341900; }
    nav #side-nav .icon {
      animation: anim 1s ease-in-out; }
      nav #side-nav .icon .svg {
        width: 50px;
        height: 50px;
        margin-left: 25px; }
      nav #side-nav .icon .svg1 {
        display: none;
        animation: anim 1s ease-in-out; }
    nav #side-nav .icon2,
    nav #side-nav .icon3,
    nav #side-nav .icon4,
    nav #side-nav .icon5 {
      display: none; }
    nav #side-nav .icon6 {
      width: 100px;
      padding: 20px 0 0 30px; }
  @keyframes anim {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  #landing {
    height: auto;
    padding: 70px 0 70px 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%; }
    #landing #head-img {
      margin: 60px 0 0 100px; }
      #landing #head-img .plant2::before {
        transform: translate(-140%, 0%);
        width: 60px;
        height: 60px;
        top: 280px;
        left: 50%; }
      #landing #head-img .cont img {
        width: 200px;
        height: 320px; }
      #landing #head-img .img-def {
        width: 320px;
        height: 200px; }
    #landing #head-text {
      justify-self: center;
      margin-left: 0px; }
      #landing #head-text .text h1 {
        font-size: 120px; }
      #landing #head-text .text .coffee-text::before {
        width: 150px;
        height: 150px;
        top: -120px;
        left: 30px; }
      #landing #head-text .text .coffee-text::after {
        width: 120px;
        height: 120px;
        top: 0px;
        left: 370px; }
      #landing #head-text .text .plant::before {
        width: 60px;
        height: 60px;
        top: -250px;
        left: 250px; }
      #landing #head-text #new-fun {
        margin: 170px 0 0 20px;
        min-width: 400px; }
        #landing #head-text #new-fun .new {
          -ms-grid-column: 1/2;
          grid-column: 1/2;
          border: 4px solid #341900;
          display: flex;
          cursor: pointer;
          height: 76px;
          margin-right: 30px; }
          #landing #head-text #new-fun .new div {
            width: 20px;
            height: 20px;
            border: 3px solid #fff;
            margin: 27px 10px 0 10px; }
          #landing #head-text #new-fun .new h2 {
            font-size: 70px; }
        #landing #head-text #new-fun .plant2 {
          width: 60px;
          height: 60px;
          -ms-grid-column: 2/3;
          grid-column: 2/3;
          justify-self: center; }
        #landing #head-text #new-fun .fun {
          -ms-grid-column: 3/4;
          grid-column: 3/4;
          border: 4px solid #341900;
          display: flex;
          cursor: pointer;
          height: 76px;
          margin-left: 30px; }
          #landing #head-text #new-fun .fun div {
            width: 20px;
            height: 20px;
            border: 3px solid #fff;
            margin: 27px 10px 0 10px; }
          #landing #head-text #new-fun .fun h2 {
            font-size: 70px; }

  @keyframes change-word {
    0% {
      content: "Great!";
      width: 0px; }
    25% {
      content: "Great!";
      width: 280px; }
    45% {
      content: "Great!";
      width: 0px; }
    50% {
      content: "Gloreus!";
      width: 0px; }
    75% {
      content: "Gloreus!";
      width: 360px; }
    100% {
      content: "Gloreus!";
      width: 0px; } } }
@media (max-width: 650px) {
  #landing {
    padding: 100px 0 70px 0; }
    #landing #head-img {
      margin: 20px 0 0 60px; }
      #landing #head-img .plant2::before {
        transform: translate(-110%, 0%);
        width: 40px;
        height: 40px;
        top: 170px;
        left: 50%; }
      #landing #head-img .cont img {
        width: 130px;
        height: 200px; }
      #landing #head-img .cont :nth-child(2) {
        border-radius: 0px 50px 0px 50px; }
      #landing #head-img .cont :nth-child(1) {
        justify-self: center; }
      #landing #head-img .img-def {
        width: 200px;
        height: 130px;
        margin: 10px 0px 0 60px; }
    #landing #head-text {
      margin-left: -50px; }
      #landing #head-text .text h1 {
        font-size: 90px; }
      #landing #head-text .text .coffee-text::before {
        width: 120px;
        height: 120px;
        top: -100px;
        left: 30px; }
      #landing #head-text .text .coffee-text::after {
        width: 90px;
        height: 90px;
        top: 0px;
        left: 300px; }
      #landing #head-text .text .plant::before {
        width: 40px;
        height: 40px;
        top: -200px;
        left: 200px; }
      #landing #head-text #new-fun {
        min-width: 300px;
        margin: 160px 0 0 80px; }
        #landing #head-text #new-fun .new {
          height: 60px; }
          #landing #head-text #new-fun .new div {
            width: 15px;
            height: 15px;
            border: 2px solid #fff;
            margin: 25px 7px 0 7px; }
          #landing #head-text #new-fun .new h2 {
            font-size: 60px;
            margin-top: -10px; }
        #landing #head-text #new-fun .plant2 {
          width: 40px;
          height: 40px; }
        #landing #head-text #new-fun .fun {
          height: 60px; }
          #landing #head-text #new-fun .fun div {
            width: 15px;
            height: 15px;
            border: 2px solid #fff;
            margin: 25px 7px 0 7px; }
          #landing #head-text #new-fun .fun h2 {
            font-size: 60px;
            margin-top: -10px; }

  nav {
    width: 80px; }
    nav #side-nav .icon .svg {
      width: 40px;
      height: 40px;
      margin-left: 20px; }
    nav #side-nav .icon6 {
      width: 80px;
      padding: 20px 0 0 20px; }

  @keyframes change-word {
    0% {
      content: "Great!";
      width: 0px; }
    25% {
      content: "Great!";
      width: 210px; }
    45% {
      content: "Great!";
      width: 0px; }
    50% {
      content: "Gloreus!";
      width: 0px; }
    75% {
      content: "Gloreus!";
      width: 270px; }
    100% {
      content: "Gloreus!";
      width: 0px; } } }
@media (max-width: 500px) {
  nav {
    width: 60px; }
    nav #side-nav {
      padding: 8px 0 0 10px; }
      nav #side-nav .icon {
        margin-left: -10px; }
        nav #side-nav .icon .svg1 {
          width: 80px;
          height: 80px;
          margin-left: 15px; }

  #landing {
    padding: 50px 0 0px 0; }
    #landing #head-img {
      margin: 0px 0 0 40px; }
      #landing #head-img .plant2::before {
        transform: translate(-110%, 0%);
        width: 30px;
        height: 30px;
        top: 135px;
        left: 50%; }
      #landing #head-img .cont img {
        width: 100px;
        height: 160px;
        border: 3px solid #fff; }
      #landing #head-img .cont :nth-child(2) {
        border-radius: 0px 50px 0px 50px;
        margin-left: 15px; }
      #landing #head-img .cont :nth-child(1) {
        justify-self: center; }
      #landing #head-img .img-def {
        width: 160px;
        height: 100px;
        margin: 5px 0px 0 0px;
        border: 3px solid #fff; }
    #landing #head-text {
      margin-left: 0px; }
      #landing #head-text .text h1 {
        font-size: 60px; }
      #landing #head-text .text .text-change {
        margin-left: 70px; }
      #landing #head-text .text .coffee-text::before {
        width: 60px;
        height: 60px;
        top: -50px;
        left: 30px; }
      #landing #head-text .text .coffee-text::after {
        width: 60px;
        height: 60px;
        top: 0px;
        left: 200px; }
      #landing #head-text .text .plant::before {
        width: 30px;
        height: 30px;
        top: -120px;
        left: 120px; }
      #landing #head-text .text :nth-child(2) {
        margin-left: 20px; }
      #landing #head-text #new-fun {
        min-width: 180px;
        margin: 120px 0 0 20px; }
        #landing #head-text #new-fun .new {
          height: 40px;
          border: 2px solid #341900; }
          #landing #head-text #new-fun .new div {
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
            margin: 15px 5px 0 5px; }
          #landing #head-text #new-fun .new h2 {
            font-size: 30px;
            margin-top: 0px; }
        #landing #head-text #new-fun .plant2 {
          width: 30px;
          height: 30px; }
        #landing #head-text #new-fun .fun {
          height: 40px;
          border: 2px solid #341900;
          margin-left: 0%; }
          #landing #head-text #new-fun .fun div {
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
            margin: 15px 5px 0 5px; }
          #landing #head-text #new-fun .fun h2 {
            font-size: 30px;
            margin-top: 0px; }

  @keyframes change-word {
    0% {
      content: "Great!";
      width: 0px; }
    25% {
      content: "Great!";
      width: 150px; }
    45% {
      content: "Great!";
      width: 0px; }
    50% {
      content: "Gloreus!";
      width: 0px; }
    75% {
      content: "Gloreus!";
      width: 190px; }
    100% {
      content: "Gloreus!";
      width: 0px; } } }
#new {
  padding: 70px 0 70px 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  align-items: center; }
  #new h1 {
    font-size: 50px;
    position: relative; }
  #new h1::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 70px;
    background: #2D635E;
    border: 3px solid #fff;
    margin: 25px 7px 0 7px;
    border-radius: 50%; }
  #new h1::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: -35px;
    background: #2D635E;
    border: 3px solid #fff;
    margin: 25px 7px 0 7px;
    border-radius: 50%; }
  #new .new {
    width: 100%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;
    align-items: center; }
    #new .new .text {
      justify-self: start;
      margin-left: 150px;
      display: -ms-grid;
      display: grid;
      width: 100%;
      position: relative; }
      #new .new .text h2 {
        font-size: 90px; }
      #new .new .text h2:nth-child(3) {
        margin-left: 100px; }
      #new .new .text h2:nth-child(4) {
        font-size: 100px;
        margin-left: 200px;
        color: #2D635E; }
      #new .new .text .plant {
        position: absolute;
        top: 250px;
        left: 370px; }
    #new .new .drinks img {
      border-radius: 50px;
      border: 2px solid #fff; }
    #new .new .drinks div {
      display: flex;
      justify-content: space-around;
      margin-top: 20px; }
      #new .new .drinks div img {
        cursor: pointer; }
    #new .new .cover {
      position: relative;
      overflow: hidden; }
      #new .new .cover::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        border-radius: 50px;
        transition: 0.5s ease-in-out; }
      #new .new .cover:hover {
        transition: 0.5s ease-in-out; }
        #new .new .cover:hover::after {
          background-color: rgba(0, 0, 0, 0.507); }
        #new .new .cover:hover button {
          top: 50%;
          transform: translate(-50%, -50%) rotate(0deg);
          transition: 0.5s ease-in-out; }
      #new .new .cover button {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%) rotate(180deg);
        width: 150px;
        height: 60px;
        background-color: #341900;
        outline: none;
        border: none;
        border-radius: 20px;
        transition: 0.5s ease-in-out;
        z-index: 3;
        font-size: 30px;
        font-weight: 800;
        color: #fff; }

@media (max-width: 1200px) {
  #new .new .text {
    margin-left: 120px; }
    #new .new .text img:first-child {
      width: 100px;
      height: 100px; }
    #new .new .text h2 {
      font-size: 70px; }
    #new .new .text h2:nth-child(3) {
      margin-left: 80px; }
    #new .new .text h2:nth-child(4) {
      font-size: 70px;
      margin-left: 170px; }
    #new .new .text .plant {
      width: 90px;
      height: 90px;
      left: 300px;
      top: 200px; }
  #new .new .drinks .cover img {
    width: 300px;
    height: 200px; }
  #new .new .drinks div img {
    width: 80px;
    height: 50px; } }
@media (max-width: 885px) {
  #new .new {
    grid-template-columns: 100%; }
    #new .new .text {
      margin-left: 0px;
      justify-self: center;
      width: auto; }
      #new .new .text img:first-child {
        width: 200px;
        height: 200px; }
      #new .new .text h2 {
        font-size: 120px; }
      #new .new .text h2:nth-child(4) {
        font-size: 120px; }
      #new .new .text .plant {
        width: 150px;
        height: 150px;
        top: 350px;
        left: 370px; }
    #new .new .drinks .cover img {
      width: 350px;
      height: 250px; }
    #new .new .drinks div img {
      width: 100px;
      height: 60px; } }
@media (max-width: 885px) {
  #new .new {
    grid-template-columns: 100%; }
    #new .new .text {
      margin-left: 0px;
      justify-self: center;
      width: auto; }
      #new .new .text img:first-child {
        width: 200px;
        height: 200px; }
      #new .new .text h2 {
        font-size: 120px; }
      #new .new .text h2:nth-child(4) {
        font-size: 120px; }
      #new .new .text .plant {
        width: 150px;
        height: 150px;
        top: 350px;
        left: 370px; }
    #new .new .drinks .cover img {
      width: 350px;
      height: 250px; }
    #new .new .drinks div img {
      width: 100px;
      height: 60px; } }
@media (max-width: 650px) {
  #new .new .text img:first-child {
    width: 150px;
    height: 150px; }
  #new .new .text h2 {
    font-size: 90px; }
  #new .new .text h2:nth-child(4) {
    font-size: 90px; }
  #new .new .text .plant {
    width: 100px;
    height: 100px;
    top: 300px;
    left: 340px; } }
@media (max-width: 500px) {
  #new .new .text img:first-child {
    width: 100px;
    height: 100px; }
  #new .new .text h2 {
    font-size: 60px; }
  #new .new .text h2:nth-child(3) {
    margin-left: 50px; }
  #new .new .text h2:nth-child(4) {
    font-size: 60px;
    margin-left: 100px; }
  #new .new .text .plant {
    width: 50px;
    height: 50px;
    top: 220px;
    left: 230px; }
  #new .new .drinks .cover img {
    width: 250px;
    height: 150px; }
  #new .new .drinks div img {
    width: 70px;
    height: 40px; } }
#fun {
  display: -ms-grid;
  display: grid;
  justify-items: center; }
  #fun h1 {
    font-size: 50px;
    font-weight: 600;
    position: relative; }
  #fun h1::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 60px;
    background: #2D635E;
    border: 3px solid #fff;
    margin: 25px 7px 0 7px;
    border-radius: 50%; }
  #fun h1::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: -35px;
    background: #2D635E;
    border: 3px solid #fff;
    margin: 25px 7px 0 7px;
    border-radius: 50%; }
  #fun .fun {
    -ms-display: -ms-grid;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 50px; }
    #fun .fun form label {
      font-size: 70px;
      margin: 0px 20px 0 0; }
    #fun .fun form #name {
      width: 200px;
      height: 60px;
      outline: none;
      border: none;
      border-radius: 60px;
      transform: translate(0, -10px);
      font-size: 30px;
      padding: 0 30px 0 30px; }
    #fun .fun .boxs {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      position: relative; }
      #fun .fun .boxs .box {
        width: 280px;
        height: 180px;
        position: relative;
        margin: 0 20px 0 20px;
        cursor: pointer; }
        #fun .fun .boxs .box .staker {
          width: 50px;
          height: 50px;
          background-color: #DDB892;
          border-radius: 50%;
          position: relative;
          top: 50%;
          left: 50%;
          z-index: 4;
          transform: translate(-50%, -50%); }
        #fun .fun .boxs .box .staker::before {
          content: "";
          width: 80%;
          height: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-40%, -50%);
          background: url(/svg/header-nav/header/coffee-plant.svg); }
      #fun .fun .boxs .box::before {
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0%;
        left: 0;
        background-color: #341900;
        border-radius: 40px 40px 0 0; }
      #fun .fun .boxs .box::after {
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0%;
        left: 0;
        background-color: #fff;
        border-radius: 0 0 40px 40px; }

#footer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 100px 0 0 100px;
  padding: 50px 0 50px 0;
  background: #341900; }
  #footer .contact {
    display: grid;
    justify-items: center;
    align-items: center; }
    #footer .contact h1 {
      color: #fff;
      font-size: 50px;
      position: relative; }
    #footer .contact h1::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0px;
      left: 210px;
      background: #2D635E;
      border: 3px solid #fff;
      margin: 25px 7px 0 7px;
      border-radius: 50%; }
    #footer .contact h1::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0px;
      left: -40px;
      background: #2D635E;
      border: 3px solid #fff;
      margin: 25px 7px 0 7px;
      border-radius: 50%; }
    #footer .contact .social-media {
      margin-top: 20px; }
      #footer .contact .social-media img {
        margin: 0 20px 0 20px; }
  #footer .list-nav {
    display: flex;
    justify-content: center;
    align-items: center; }
    #footer .list-nav .icon {
      margin: 0 20px 0 20px;
      border: 2px solid #fff;
      border-radius: 40px;
      height: 100px;
      padding: 17px 10px 10px 10px;
      background: rgba(0, 0, 0, 0.37); }
      #footer .list-nav .icon h1 {
        color: #fff;
        margin-top: 20px; }

@media (max-width: 927px) {
  #footer .list-nav {
    margin-top: 50px; } }
@media (max-width: 885px) {
  #footer {
    margin: 100px 0 0 0px;
    flex-flow: column; }
    #footer .contact .social-media img {
      margin: 10px; }
    #footer .list-nav {
      flex-flow: wrap; }
      #footer .list-nav .icon {
        margin: 10px; } }

/*# sourceMappingURL=style.css.map */
