doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Coffee Shop | Home
        link(rel="icon", href="./svg/header-nav/nav/logo.svg")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF", crossorigin="anonymous")
        link(rel="stylesheet", href="css/style.css")
    body
        header
                nav
                    div#side-nav
                        div.icon.icon1
                            <img class="logo svg1" src="./svg/header-nav/nav/logo.svg" alt="logo">
                            span Coffee Shop
                        div.icon.icon2
                            <img class="svg svg2" src="./svg/header-nav/nav/coffee-break.png" alt="logo" onclick="ChangeImg('./svg/header-nav/nav/menu1.webp','./svg/header-nav/nav/menu2.webp','./svg/header-nav/nav/menu3.webp','./svg/header-nav/nav/menu4.webp')">
                            span( onclick="ChangeImg('./svg/header-nav/nav/menu1.webp','./svg/header-nav/nav/menu2.webp','./svg/header-nav/nav/menu3.webp','./svg/header-nav/nav/menu4.webp')" ) Menu
                        div.icon.icon3
                            <img class="svg svg3" src="./svg/header-nav/nav/waitar.png" alt="logo" onclick="ChangeImg('./svg/header-nav/nav/services1.webp','./svg/header-nav/nav/services2.webp','./svg/header-nav/nav/services3.webp','./svg/header-nav/nav/services4.webp')">
                            span(onclick="ChangeImg('./svg/header-nav/nav/services1.webp','./svg/header-nav/nav/services2.webp','./svg/header-nav/nav/services3.webp','./svg/header-nav/nav/services4.webp')") services
                        div.icon.icon4
                            <img class="svg svg4" src="./svg/header-nav/nav/order3.png" alt="logo" onclick="ChangeImg('./svg/header-nav/nav/order1.webp','./svg/header-nav/nav/order2.webp','./svg/header-nav/nav/menu2.webp','./svg/header-nav/nav/order3.webp')">
                            span(onclick="ChangeImg('./svg/header-nav/nav/order1.webp','./svg/header-nav/nav/order2.webp','./svg/header-nav/nav/menu2.webp','./svg/header-nav/nav/order3.webp')") order
                        div.icon.icon5
                            <img class="svg svg5" src="./svg/header-nav/nav/call-center-agent.png" alt="logo" onclick="ChangeImg('./svg/header-nav/nav/cheifs2.webp','./svg/header-nav/nav/cheifs1.webp','./svg/header-nav/nav/cheifs3.webp','./svg/header-nav/nav/cheifs4.webp')">
                            span(onclick="ChangeImg('./svg/header-nav/nav/cheifs2.webp','./svg/header-nav/nav/cheifs1.webp','./svg/header-nav/nav/cheifs3.webp','./svg/header-nav/nav/cheifs4.webp')") cheifs
                        div.icon.icon6
                            div.line.line1 
                            div.line.line2
                            div.line.line3
                
                    div#content-nav
                        img(src="./svg/header-nav/nav/menu1.webp", alt="menu1" class="menu menu1")
                        div
                            img(src="./svg/header-nav/nav/menu2.webp", alt="menu2" class="menu menu2")
                            img(src="./svg/header-nav/nav/menu3.webp", alt="menu3" class="menu menu3")
                            img(src="./svg/header-nav/nav/menu4.webp", alt="menu4" class="menu menu4")
                        button Read More

                section
                        div#head-text
                            div.cont-rel
                                div.rel
                                    img(src="./svg/header-nav/header/coffee-plant.svg", alt="coffee-plant" class="plant")
                                div.rel
                                    img(src="./svg/header-nav/header/coffee-text.svg", alt="coffee-plant" class="coffee-text")
                                div.rel
                                    img(src="./svg/header-nav/header/long-cup-coffee.svg", alt="coffee-plant" class="cup")
                            div.text
                                h1 Drink
                                h1 some thing
                                h1.text-change
                            div#new-fun
                                div.new
                                    div 
                                    h2 New
                                    div
                                img(src="./svg/header-nav/header/coffee-plant.svg", alt="coffee-plant" class="plant2") 
                                div.fun
                                    div 
                                    h2 Fun
                                    div
                        div#head-img
                                div.rel
                                    img(src="./svg/header-nav/header/coffee-plant.svg", alt="plant" class="plant") 
                                div.cont
                                    img(src="./svg/header-nav/header/girl.webp", alt="girl")
                                    img(src="./svg/header-nav/header/make-coffee.webp", alt="make-coffee")
                                img(src="./svg/header-nav/header/two-cups.webp", alt="two-cups" class="img-def")

        
        script(src="js/main.js")

